
@{
    Layout = null;
}



<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<html>
<!DOCTYPE html>
<head>
    <title>Visitors an Admin Panel Category Bootstrap Responsive Website Template | Login :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="/Content/AdminLayout/css/bootstrap.min.css">
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="/Content/AdminLayout/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/Content/AdminLayout/css/style-responsive.css" rel="stylesheet" />
    <!-- font CSS -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="/Content/AdminLayout/css/font.css" type="text/css" />
    <link href="/Content/AdminLayout/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <script src="/Content/AdminLayout/js/jquery2.0.3.min.js"></script>



</head>
<body>
    <div class="log-w3 container-fluid">
        <div class="w3layouts-main">
            <h2>Sign In Now</h2>
            <form action="javasctipt:;" method="post">
                <input id="username" class="ggg" name="Email" placeholder="USER NAME">
                <input type="password" id="password" class="ggg" name="Password" placeholder="PASSWORD">
                <span><input type="checkbox" />Remember Me</span>
                <h6><a href="#">Forgot Password?</a></h6>
                <div class="clearfix"></div>
                <input type="submit" value="Sign In" id="login"  name="login">
                <h4 id="er"  style="color: red"></h4>
            </form>
           
        </div>
    </div>
    <script src="/Content/AdminLayout/js/bootstrap.js"></script>
    <script src="/Content/AdminLayout/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/Content/AdminLayout/js/scripts.js"></script>
    <script src="/Content/AdminLayout/js/jquery.slimscroll.js"></script>
    <script src="/Content/AdminLayout/js/jquery.nicescroll.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="/Content/AdminLayout/js/jquery.scrollTo.js"></script>
</body>

<script type="text/javascript">
    $("document").ready(function () {



        $("#login").click(function () {

            var data = {};



            data.username = $("#username").val();

            data.password = $("#password").val();






            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: '{data: ' + JSON.stringify(data) + '}',
                url: '@Url.Action("Index","Login")',
                success: function (kq) {
                    console.log(kq);
                    if (kq.Message === "FAIL") {
                        $("#er").text("Đăng nhập thất bại xin kiểm tra lại tài khoản mật khẩu");
                    } else {
                        window.location.href  = kq.url;
                    }

                },
                error:  function(kq) {
                    console.log(kq);
                }

            });
        });


    });
</script>

       



</html>
