@using MovieOnline.Models
    <div class="col-md-6 wthree_agile_login">


        @if (Session["taikhoan"] != null && Session["taikhoan"] != "")
        {
            TaiKhoan tk = (TaiKhoan)Session["taikhoan"];

            <ul>
                <li>Xin chào @tk.HoTen</li>

                <li><a href="@Url.Action("logout","Home")">Đăng xuất</a></li>


            </ul>

        }
        else
        {
            <ul>
                <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 009 455 4088</li>
                <li><a href="#" class="login" data-toggle="modal" data-target="#myModal4">Login</a></li>
                <li><a href="#" class="login reg" data-toggle="modal" data-target="#myModal5">Register</a></li>

            </ul>
        }

    </div>